@import url("style-table.css");
@import url("style-modal.css");
* {
  font-family: Arial, Verdana, sans-serif;
}

#content {
  width: 1000px;
  color: grey;
}

fieldset {
  width: 960px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding-top: 10px;
  text-align: right;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: left;
}

#title {
  width: 990px;
  border-bottom: 1pt solid grey;
  text-align: left;
}

select:invalid {
  background-color: #E6E6FA;
}

#contentInside {
  padding-top: 20px;
}

#tableInFilter {
  padding-top: 10px;
}

button#show {
  height: 19px;
  margin-top: -14px;
  width: 60px;
}

button#save {
  margin-top: 10px;
  width: 70px;
  height: 25px;
}

div#divDataTable {
  padding-top: 25px;
}

div#divTablePopup {
  width: 90%;
  padding: 30px;
  padding-bottom: 18px;
}
